* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Text", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #8d4452ac;
  z-index: 2;
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.brand-logo {
  height: 90px;
  margin-left: 10px;
}

.nav-items {
  display: flex;
  align-items: right;
  margin-left: 350px;
}

/* .search-box::placeholder {
  color: #000000;
} */

.nav-items a {
  margin-left: 350px;
}

.nav-items a img {
  width: 30px;
}

